section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

.btn-movies {
  font: inherit;
  cursor: pointer;
  background: #594545;
  border: 1px solid #594545;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 12px;
}

.btn-movies:focus {
  outline: none;
}

.btn-movies:hover,
.btn-movies:active {
  background-color: #815B5B;
  border-color: #815B5B;
}
