.header {
  max-width: 60rem;
  margin: auto;
  width: 1000px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.list li {
  list-style-type: none;
}

.list a {
  text-decoration: none;
  color: #E7B10A;
}

.list a:hover,
.list a.active {
  color: #898121;
}
