.app {
  text-align: center;
}

.btn {
  width: 120px;
  height: 40px;
  font-size: 1rem;
  background-color: #815B5B;
  color: white;
  border-radius: 12px;
  border: none;
}

.btn:hover {
  background-color: #698269;
  cursor: pointer;
}
